<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Join Channel</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css"/>
</head>
<body>
<div class="title">
    <div class="welcome-message" id="welcome-message"></div>
    <div class="welcome-subtitle">Select a Channel below to join a chat</div>
    <i class="fa-solid fa-circle-chevron-down"></i>
</div>

<hr>
<div class="channel-links">
    <div th:each="channel : ${channels}">
        <a class="channel-link" th:href="@{'/channel/' + ${channel.id}}" th:text="${channel.name}"></a>
    </div>
</div>
<script type="text/javascript" src="/js/welcome.js"></script>
</body>
</html>